#canvas {
  border-style: solid;
  border-width: 2px;
  border-color: #86f8c0;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  background-color: #b6fbd9;
}

body {
  background-color: #fbbcb6;
  min-height: 500px;
}

